*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

@media screen and (max-width: 1200px){
    .container{
        flex-direction: column;
    }
    .block{
        width: 98vw;
        height: 20vh;
    }
}